:root{
    --gray:#797979;
    --black:rgb(0, 0, 0);
    --white:#fff;
    --purple:#9109c7;
    --light-black:#666;
    --blu:rgba(128, 3, 128, 0.1);
    --light-white:#ccc;
    --light-bg:#f5f5f5;
    --dark-bg:rgba(0,0,0,.7);
    --border:.1rem solid #aaa;
    --box-shadow:0 .3rem 1rem rgba(0, 0, 0, 0.1);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--blu);
 }
 
 html::-webkit-scrollbar{
    width: 1rem;
 }
 
 html::-webkit-scrollbar-track{
    background-color: var(--white);
 }
 
 html::-webkit-scrollbar-thumb{
    background-color: var(--gray);
 }
 .header{
  padding-top: 4rem;
  padding-bottom: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:sticky;
  z-index: 1000;
  background: linear-gradient(to right, #520166,#ad05c4);
  border-bottom-right-radius: 125px; 
}
.navbar{
  width: 100%;
  align-items: center;
  position: absolute;
}
.logo img{
  width: 6rem;
  height: auto;
  float: left;
}
.navbar h1{
margin-top: 50px;
 float: left;
 font-size: 35px;
 color: var(--white);
}
.navbar ul{
margin-top: 20px;
float: right;
}

.navbar ul li{
  padding-right: 25px;
  list-style: none;
  display: inline-block;
  
}
.navbar ul li a{
  padding-top: 40px;
  border-radius: 99px;
  display: inline-block;
  height: 100px ;
  font-size: 20px;
  text-decoration: none;
  position: sticky;
  color: var(--black);

}
.navbar ul li a.active,a:hover{
  -webkit-text-stroke: 2px var(--white);
  color: transparent;
  opacity: 1;
}
.navbar ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: var(--white);
}

.navbar ul li a::before {
  width: 0%;
  bottom: 10px;
}

.navbar ul li a:hover::before {
  width: 100%;
}

.menubtn{
  font-size: 2.5rem;
  cursor: pointer;
  color:var(--white);
  float: right;
  margin-top: 50px;
  display: none;
  margin-right: 50px;
}
#menu-btn{
display: none;
}
  @keyframes fadeIn {
    0%{
       transform: translateY(-4rem) scale(0);
       opacity: 0;
    }
 }
.ab{
    height: 350px;
    background-color: black;
}
 .ab .ab-container{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
  }
  .ab .title{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: var(--white);
    text-shadow: 0 .3rem 1rem rgba(0,0,0,.4);
    position: absolute;
    top: 40%;
    left: 15%;
    overflow: hidden;
    height: auto;
  }
  .ab .title h1{
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
  }
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .about .container{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    background-color: var(--blu);
  }
  .about .content-section{
    float: left;
    width: 55%;
  }
  .about .image{
    float: right;
    width: 40%;
    height: auto;
    overflow: hidden;
  }
  .about .image img{
    width: 100%;
    height: auto;
    box-shadow: 0 .3rem 1rem rgba(0,0,0,.4);
    animation: slideIn 3s ease-in-out forwards;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .about .content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    text-shadow: 0 .3rem 1rem rgba(0,0,0,.4);
  }
  .about .content-section .content1 h3{
    margin-top: 20px;
    color:#5d5d5d;
    font-size: 21px;
    animation: slideIn 3s ease-in-out forwards;
  }
  .about .content-section .content1 p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    animation: slideIn 3s ease-in-out forwards;
  }
  .about .content-section .content1 ul1 li{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    list-style: none;
    animation: slideIn 3s ease-in-out forwards;
  }
  .about .content-section i{
   color: var(--purple);
   padding-right: 2px;
   animation: slideIn 3s ease-in-out forwards;
  }
  .blobs-container{
    float: right;
    margin-right: 150px;
    padding-left: 50px;
    display: flex;
    align-items: center;
  }
  .blob.purple {
    background: var(--blu);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);
    animation: pulse-purple 2s infinite;
    border: 1px solid var(--purple);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    animation: slideIn 3s ease-in-out forwards;
  }
  .blob.purple i{
    color: var(--purple);
    margin-left: 17px;
    margin-top: 15px;
  }
  .blobs-container a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding-left: 4px;
    animation: slideIn 3s ease-in-out forwards;
  }
  .blobs-container a:hover{
    color: var(--purple);
    text-shadow: 0 .3rem 1rem rgba(255, 255, 255, 0.4);
  }
  @keyframes pulse-purple {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
    }
  }
  .vlere .container{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vlere .content-section{
    float: left;
    width: 40%;
    background-color:rgb(129, 0, 155, .5);
    height: 100%;
  }
  .vlere .content-section .title{
    text-transform: uppercase;
    font-size: 20px;
    color: var(--white);
    margin-left: 100px;
    margin-top: 80px;
  }
  .vlere .content-section .content1 h3{
    margin-top: 20px;
    color:var(--white);
    font-size: 17px;
    margin-left: 60px;
  }
  .vlere .content-section .content1 p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white);
    margin-left: 15px;
    margin-right: 15px;
    
  }
  .vlere .content-section .content1 ul1 li{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    list-style: none;
    color: var(--white);
    margin-left: 45px;
  }
  .vlere .content-section i{
   padding-right: 2px;
   color: var(--white);
   font-weight:600;
   margin-left: 45px;
  }
  .vlere .content-section i p1{
    color: var(--white);
    font-weight:600;
   }
   .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
   .active.fade-bottom {
    animation: fade-bottom 2s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right .5s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-container{
    flex-wrap:wrap ;
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #520166,#ad05c4);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px; 
    font-size: 13px;
    line-height: 20px;
  }
  .footer-container .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-container .col{
    flex-basis: 25%;
    padding: 10px;
  }
  .footer-container h1{
    float: right;
    margin-top: 50px;
    margin-right: 70px;
  }
  .footer-container .col img{
    width: 80px;
  }
  .footer-container .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }
  .underline{
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: #767676;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
  }
  .underline span{
    width: 15px;
    height: 100%;
    background: var(--white);
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
  }
  .footer-container .col .email{
   width: fit-content;
   border-bottom: 1px solid #ccc;
   margin: 20px 0;
  }
  .footer-container .col ul li{
    list-style: none;
    margin-bottom: 12px;
  }
  .footer-container .col ul li a{
    text-decoration: none;
    color: var(--white);
  }
  .footer-container .col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--white);
    margin-bottom: 50px;
  }
  .footer-container .col form i{
   font-size: 18px;
   margin-right: 10px;
  }
  .footer-container .col form input{
   width: 100%;
   background: transparent;
   color: var(--white);
   border: 0;
   outline: none;
  }
  .footer-container .col form input::placeholder{
    background: transparent;
    color: var(--white);
   }
  .footer-container .col form button{
    background: transparent;
    color: var(--white);
    border: 0;
    cursor: pointer;
   }
   .footer-container .col .share a1{
   text-decoration: none;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   line-height: 40px;
   font-size: 20px;
   color: var(--white);
   background-color: blue;
   margin-right: 15px;
   }
   .footer-container .col .share a1:hover{
    color:blue;
   background-color: var(--white);
   }
   .footer-container .col .share a2{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: var(--white);
    background-color: rgb(0, 204, 255);
    margin-right: 15px;
    }
    .footer-container .col .share a2:hover{
      color:rgb(0, 204, 255);
     background-color: var(--white);
     }
    .footer-container .col .share a3{
      text-decoration: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: var(--white);
      background:radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);;
      margin-right: 15px;
      }
      .footer-container .col .share a3:hover{
        color:var(--purple);
       background: var(--white);
       }
      .footer-container .col .share a4{
        text-decoration: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: red;
        background-color: var(--white);
        margin-right: 15px;
        }
        .footer-container .col .share a4:hover{
          color:var(--white);
         background-color: red;
         }
   hr{
    width: 80%;
    border: 0;
    border-bottom: 1px solid var(--white);
    margin: 20px auto;
   }
   .footer-container .credit{
    text-align: center;
   }
   .footer-container .credit span{
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
   }
   @keyframes moving{
    0% {left: -20px;}
    100% {left: 100%;}
   }

  /*--media--*/

 @media (max-width:1200px){
  html{
    width: fit-content;
  }
  .about .container {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: block;
    align-items: center;
    background-color: var(--blu);
  }
  .about .container .content-section img{
    height: auto;
     }

  .about .container .content-section p{
 font-size: 10px;
  }
  .vlere .content-section{
    float: left;
    width: 100%;
    background-color:rgb(129, 0, 155, .5);
    height: 100%;
  }
  
  .footer-container .col img{
    width: 80px;
    margin-bottom: -60px;
  }
  .footer-container h1{
    margin-top: 50px;
    float: right;
    margin-top: 50px;
    margin-right: 70px;
  }
 }
 @media (max-width:956px){

  .menubtn{
    display: block;
  }
  .header .navbar ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: -100%;
  background-color: var(--purple);
  text-align: center;
  transition: all .5s;
}
.header .navbar ul li{
  display: block;
}
.header .navbar ul li a{
  font-size: 20px;
}
#menu-btn:checked ~ ul{
  left: 0;
}

.blobs-container{
  float: left;
  display: flex;
  align-items: center;
}
.vlere .content-section .title{
  text-transform: uppercase;
  font-size: 20px;
  color: var(--white);
  margin-left: 100px;
}
.vlere .content-section .content1 h3{
  margin-top: 5px;
  color:var(--white);
  font-size: 17px;
  margin-left: 60px;
}
.vlere .content-section .content1 p{
  margin-top: 3px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--white);
  margin-left: 15px;
  margin-right: 15px;
  
}
.vlere .content-section .content1 ul1 li{
  margin-top: 3px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  list-style: none;
  color: var(--white);
  margin-left: 45px;
}
}
